body {
  width: 100vw;
  min-height: 100vh;
}
body {
  background-color: lightslategrey;
}
.portfolio-container img {
  width: 300px;;
}
.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}
