/* all font style */
* {
  font-family: 'Lato', sans-serif;
  font-family: 'Slabo 13px', serif;
}
/*  body view height and width and bg color */
body {
  min-width: 100vw;
  min-height: 100vh;
}
/* set portfolio img width */
.portfolio-container img {
  width: 300px;
  ;
}
/* set resume link style */
.portfolio-section a {
  color: black;
}
.float-left {
  text-align: left;
}
.float-right {
  float: right;
}
/* hover effect to animate portfolio gifs */
.static {
  position: absolute;
  background: white;
}

.static:hover {
  opacity: 0;
}

/* navbar link styles */
.navbar-menu a {
  color: grey;
}

.navbar-menu a:hover {
  color: darkgray;
}

.navbar-menu a:active {
  color: grey;
}

/* different display size media queries */
/* smaller desktop screens */
@media screen and (max-width: 1025px) {
/*   .navbar-end {
    display: none;
  } */
}

/* tablets and smaller */
@media screen and (max-width: 820px) {


}

/* phones and smaller */
@media screen and (max-width: 575px) {}